<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Chat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="chatPage.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="showText.js"></script>
	</head>
	<body>
		<div class="panel panel-default text-center col-lg-4 hidden-sm hidden-xs hidden-md header">
            <h1>Messages</h1>
        </div>
        <div class="panel panel-default text-center col-lg-8 col-sm-12 header">
            <h1 id="friendName">Finding a friend...</h1>
        </div>
		<div class="container-fluid">
            <div class="row h-100">
                <div class="col-lg-4 text-center hidden-md hidden-sm hidden-xs well full-len">
                    <h3>Messages</h3>
                    <p>Lorem ipsum dolor..</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8 text-center well full-len">
                    <div id="text-output" class="text-right">
                    </div>
                    <input type="text" class="form-control" id="message-box" placeholder="Text goes here..." onkeypress="pressedEnter(this)"/>
                </div>
            </div>
        </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="showText.js"></script>
		<script>
			function getRandomInt(min, max){
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}

			$.urlParam = function(name){
				var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
				console.log(name);

				return results[1] || 0;
			}

			var socket = io();

			var username;
			var friendName;
			var sendLang;
			var receiveLang;
			var homeCountry;

			//Sends that the user has connected
			socket.on('connect', function(){
				//This loads up the beginning modal to get your username
				username = $.urlParam('name');
				// TODO add in functionality to get other persons name when they connect
				sendLang = $.urlParam('sendLang');
				receiveLang = $.urlParam('receiveLang');
				homeCountry = ($.urlParam('homeCountry')).replace(/%20/g, " ");

				if (username == ""){
					username = "Me";
				}

				socket.emit('notification', username + ' from ' + homeCountry + ' has joined');
				socket.emit('userData', {username: username});
			});

			function sendMessage(){
				if ($("#message-box").is(":empty")){
					socket.emit('chat message', {color: "null", username: username, message: $("#message-box").val()});
				}
			}

			//Gets the amount of users connected
			socket.on('usersOn', function(usersOn){
			})

			//Sends a notification that a user has disconnected
			socket.on('disconnect', function(){
				socket.emit('notification', username + ' has disconnected');
			});

			//Creates notification in the messages box
			socket.on('notification', function(notification){
				if (!$("#friendName").text().includes("joined")) {
					if (!(notification).includes(username)) {
						$("#friendName").text(notification);
					}
					socket.emit('notification', username + ' from ' + homeCountry + ' has joined');
				}
			})

			//Creates message in the messages box
			socket.on('chat message', function(msg){

				var outputBox = document.getElementById("text-output");
				var messageCont = document.createElement("div");
				var message = document.createElement("p");
				var wrapper = document.createElement("div");
				wrapper.setAttribute("class", "containerOfContaining");
				wrapper.append(messageCont);
				console.log("2");

				if (username == msg.username) {
					messageCont.setAttribute("class", "messageCont");
					message.innerHTML = msg.message;
				} else {
					messageCont.setAttribute("class", "pull-left incomingMsgCont");

					console.log("sendLang: " + sendLang);
					console.log("receiveLang: " + receiveLang);
					var apiLink = 'https://api.mymemory.translated.net/get?q=' + msg.message + '!&langpair=' + sendLang +'|' + receiveLang;
					console.log("API request link: " + apiLink);
					$.get(apiLink, function(apiRes) {
						message.innerHTML = apiRes.matches[0].translation;
						console.log(apiRes.matches[0].translation);
					});
				}
				message.setAttribute("class", "message");



				messageCont.append(message);

				outputBox.append(wrapper);
				outputBox.append(document.createElement("br"));
				document.getElementById("message-box").value = "";

				outputBox.scrollTop = outputBox.scrollHeight;
			})
		</script>
	</body>
</html>
